
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}
nav{
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: #2d2d2d;
    padding-top: 20px;
}
li{
    /* border: 2px solid red; */
    display: inline;
}
a{
    
    /* border: 2px solid green; */
    text-decoration: none;
    color: whitesmoke;
    margin: 25px;
}
.sec-1{
    height: 700px;
    width: 100%;
    /* border: 2px solid red; */
    background-image: url('./bgCreative.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
} 
  /*e.g of child selector  */
.sec-1 h1{
    font-size: 80px;
    color: whitesmoke;
    background-color: #2d2d2d;
    border: 4px double white;
    border-radius: 20px ;
    text-align: center;
}

.sec-2{
    min-height: 600px;
    width: 100%;
    /* border: 2px solid red; */
    padding: 50px;
}
.sec-2 h1{
    margin: auto;
    width: 80%;
    font-size: 60px;
    background-color: #ffb703;
    color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 40px;

}
.sec-2 p {

    background-color: #2d2d2d;
    color: whitesmoke;
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 40px;
    border-radius: 20px;

}
.sec-3{
    min-height: 600px;
    width: 100%;
    background-color: #ffb703;
    padding-top: 50px;
}
.sec-3 h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 60px;

}
.sec-3 div{
    width: 80%;
    margin: auto;
    /* border: 2px solid red; */
    margin-top: 20px;
}
img{
    height: 250px;
    width: 250px;
    margin-left: 22px;
}
.sec-4{
    min-height: 600px;
    width: 100%;
    /* border: 5px solid red; */
    padding-top: 20px;
    
}
.sec-4 h1{
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    background-color: #2d2d2d;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;

}
.sec-4 .main-div {
    width: 80%;
    margin: auto;
    /* border: 4px solid green; */

}
.form-div{
    width: 48%;
    display: inline-block;
    /* border: 2px solid blue; */

    vertical-align: middle;
    border-right:2px solid #2d2d2d ;
}
.iframe-div{
    width: 48%;
    display: inline-block;
    /* border: 2px solid yellow; */

    vertical-align: middle;
    
}
input{
    width: 90%;
    height: 30px;
    border: 2px solid #ffb703;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    
}
textarea{
    width: 90%;
    border: 2px solid #ffb703;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;

}
.bg-dark{
    background-color: #2d2d2d;
    color: whitesmoke;
    font-size: 17px;
    padding: 0px;
}
iframe{
    padding-left: 30px;
    width: 95%;
    height: 400px;
}
footer{
    height: 60px;
    width: 100%;
    background-color: #2d2d2d;
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
}

@media screen and (min-width:501px) and (max-width:800px) {
    img{
        height: 250px;
        width: 45%;
        margin-bottom: 22px;
    }
}
@media screen and (min-width:0px) and (max-width:500px) {
    
    img{
        height: 250px;
        width: 100%;
        margin-bottom: 22px;
    }
    .form-div{
        width: 100%;
        display: inline-block;
        /* border: 2px solid blue; */
    
        vertical-align: middle;
        border-bottom:2px solid #2d2d2d!important ;
        border-right: 0px solid black;
        margin-bottom: 20px;
    }
    .iframe-div{
        width: 100%;
        display: inline-block;
        /* border: 2px solid yellow; */
    
        vertical-align: middle;
        
    }
}
template.css

Displaying template.css.